<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:property-placeholder location="musicPlayer.properties"/>
    <bean id="musicBean"
          class="com.lesson.SpringPet.RockMusic">
    </bean>
    <bean id="dumb"
          class="com.lesson.SpringPet.DumbMusic"/>
    <bean id="classic"
          class="com.lesson.SpringPet.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="prototype"
          factory-method="getClassicalMusic"/>

    <bean id="musicPlayer"
          class="com.lesson.SpringPet.MusicPlayer"
          scope="prototype">
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name ="music" ref="musicBean"/>
        <property name="musicList">
            <list>
                <ref bean="classic"/>
                <ref bean="dumb"/>
                <ref bean="musicBean"/>
            </list>
        </property>
    </bean>

</beans>
